* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background: #90B2D1 !important;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    width: 100%;
}

.square {
    width: 1450px;
    max-width: 1450px;
    height: auto;
    min-height: calc(100vh - 175px);
    position: relative;
    top: 40px;
    left: 50%;
    margin-left: -725px;
    background-color: #0088FF;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom: 70px;
    padding-bottom: 20px;
}

.square2 {
    width: 1450px;
    height: auto;
    min-height: calc(100vh - 135px);
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -725px;
    background-color: #0088FF;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom: 70px;
    padding-bottom: 20px;
    overflow-x: hidden;
}